i{
	display: none !important;
}
a, a:hover, a:visited, a:active, a:link{
	color: black !important;
}
a:click
.slick-initialized .slick-slide div:first-child div div{
	font-weight: normal !important;
	max-height: 100% !important;
}